<% if channel.errors.present? %>
  <div class="alert alert-error">
    <%= f.error_messages -%>
  </div>
<% end %>
<%= f.hidden_field :kind, :value => channel.kind %>
<%= render 'channels/edit_name', :f => f -%>
<%= render 'channels/edit_protocol', :f => f, :default => channel.class.default_protocol -%>
<%= render 'channels/edit_priority', :f => f -%>
<%= render 'channels/edit_application', :f => f -%>
<% if defined?(direction) %>
  <%= f.hidden_field :direction, :value => direction -%>
<% else %>
  <%= render 'channels/edit_direction', :on_change => (defined?(on_direction_change) ? on_direction_change : nil) -%>
<% end %>
<%= render 'channels/edit_address', :f => f unless defined? exclude_address-%>
