<p>
<%= f.label :host -%><br/>
<%= f.text_field :host -%>
</p>
<p>
<%= f.label :port -%><br/>
<%= f.text_field :port -%>
</p>
<p>
<%= f.label :user -%><br/>
<%= f.text_field :user -%>
</p>
<p>
<%= f.label :password -%><br/>
<%= f.password_field :password -%>
</p>
<p>
<%= f.check_box :use_ssl %>
<%= f.label :use_ssl -%>
</p>
<% if channel.kind == 'pop3' -%>
  <p>
  <%= f.check_box :remove_quoted_text_or_text_after_first_empty_line -%>
  <%= f.label :remove_quoted_text_or_text_after_first_empty_line -%>
  </p>
<%- end -%>
