<%= form_for_channel channel do |f| -%>
  <%= f.error_messages -%>
  <%= f.hidden_field :kind, :value => channel.kind %>
  <%= render 'edit_name', :f => f -%>
  <%= render 'edit_protocol', :f => f, :default => 'sms' -%>
  <%= render 'edit_priority', :f => f -%>
  <%= render 'edit_application', :f => f -%>
  <%= render 'edit_direction' -%>
  <%= render 'edit_address', :f => f -%>
  <%= f.fields_for :configuration do |c| -%>
    <p>
    <%= c.label :url -%><br/>
    <%= c.text_field :url, :value => channel.configuration[:url] -%>
    </p>
    <p>
    <%= c.label :user -%><br/>
    <%= c.text_field :user, :value => channel.configuration[:user] -%>
    </p>
    <p>
    <%= c.label :password -%><br/>
    <%= c.password_field :password, :value => channel.configuration[:password] -%>
    </p>
  <%- end -%>
  <%= render 'edit_costs', :f => f -%>
  <%= render 'shared/edit_custom_attributes', :f => f, :entity => channel, :as_restriction => true -%>
  <%= render 'edit_ao_rules', :f => f -%>
  <%= render 'edit_at_rules', :f => f -%>
  <%= f.submit -%>
<%- end -%>
