<%= form_for_channel channel do |f| -%>
  <%= render 'edit_header', :f => f, :direction => Channel::Incoming, :exclude_address => true %>
  <h5>POP3 account info</h5>
  <%= render 'edit_mail_configuration', :f => f -%>
  <%= render 'edit_costs', :f => f, :hide_ao => true -%>
  <%= render 'shared/edit_custom_attributes', :f => f, :entity => channel, :as_restriction => true -%>
  <%= render 'edit_at_rules', :f => f -%>
  <%= f.submit -%>
<%- end -%>
