<%= form_for_channel channel do |f| -%>
  <%= render 'edit_header', :f => f -%>
  <h5>Multimodem info</h5>
  <p>
  <%= f.label :host -%><br/>
  <%= f.text_field :host -%>
  </p>
  <p>
  <%= f.label :port -%><br/>
  <%= f.text_field :port -%>
  </p>
  <p>
  <%= f.label :user -%><br/>
  <%= f.text_field :user, :autocomplete => :off -%>
  </p>
  <p>
  <%= f.label :password -%><br/>
  <%= f.password_field :password, :autocomplete => :off -%>
  </p>
  <p>
  <%= f.label :time_zone -%><br/>
  <%= f.select :time_zone, time_zone_options_for_select(channel.time_zone) -%>
  </p>
  <%= render 'edit_footer', :f => f %>
<%- end -%>
