<%= form_for_channel channel do |f| -%>
  <%= render 'edit_header', :f => f -%>
  <p>
  <%- if channel.persisted? -%>
    <b>Leave blank if you don't want to change the password</b><br/>
  <%- end -%>
  <%= f.label :password -%><br/>
  <%= f.password_field :password, :value => (channel.persisted? ? '' : channel.password) -%>
  </p>
  <p>
  <%= f.label :password_confirmation -%><br/>
  <%= f.password_field :password_confirmation, :value => (channel.persisted? ? '' : channel.password_confirmation) -%>
  </p>
  <%= render 'edit_footer', :f => f %>
<%- end -%>
