<%= form_for_channel channel do |f| -%>
  <%= render 'edit_header', :f => f -%>
  <h5>DTAC account info</h5>
  <p>
  <%= f.label :user -%><br/>
  <%= f.text_field :user -%>
  </p>
  <p>
  <%= f.label :password -%><br/>
  <%= f.password_field :password, :autocomplete => :off -%>
  </p>
  <p>
  Callback urls for incoming messages:<br/>
  <code>/dtac/<%= account.name -%>/incoming</code><br/>
  <code>/dtac/<%= account.id -%>/incoming</code>
  </p>
  <%= render 'edit_footer', :f => f %>
<%- end -%>
