<%= form_for_channel channel do |f| -%>
  <%= render 'edit_header', :f => f, :exclude_address => true -%>
  <h5>GeoPoll account info</h5>
  <p>
    <%= f.label :auth_token -%><br/>
    <%= f.password_field :auth_token, :autocomplete => :off -%>
  </p>
  <%= render 'edit_footer', :f => f %>
<%- end -%>
