<%= form_for_channel channel do |f| -%>
  <%= render 'edit_header', :f => f, :direction => Channel::Outgoing, :exclude_address => true %>
  <h5>SMTP account info</h5>
  <%= render 'edit_mail_configuration', :f => f -%>
  <%= render 'edit_costs', :f => f, :hide_at => true -%>
  <%= render 'shared/edit_custom_attributes', :f => f, :entity => channel, :as_restriction => true -%>
  <%= render 'edit_ao_rules', :f => f -%>
  <%= f.submit -%>
<%- end -%>
