<%= form_for_channel channel do |f| -%>
  <%= render 'edit_header', :f => f -%>
  <h5>MT POST</h5>
  <p>
  <%= f.label :mt_post_url, 'URL' -%><br/>
  <%= f.text_field :mt_post_url -%>
  </p>
  <p>
  <%= f.label :mt_post_user, 'User (optional)' -%><br/>
  <%= f.text_field :mt_post_user -%>
  </p>
  <p>
  <%= f.label :mt_post_password, 'Password (optional)' -%><br/>
  <%= f.password_field :mt_post_password, :autocomplete => :off -%>
  </p>
  <p>
  <%= f.label :cid, 'Connection ID (cid)' -%><br/>
  <%= f.text_field :cid -%>
  </p>
  <p>
  <%= f.label :bid, 'Billing Level (bid)' -%><br/>
  <%= f.text_field :bid -%>
  </p>
  <%= render 'edit_footer', :f => f %>
<%- end -%>
