<%= form_for_channel channel do |f| -%>
  <%= render 'edit_header', :f => f, :exclude_address => true -%>
  <h5>Twilio account info</h5>
  <p>
  <%= f.label :account_sid, 'Account SID' -%><br/>
  <%= f.text_field :account_sid, :autocomplete => :off -%>
  </p>
  <p>
  <%= f.label :auth_token -%><br/>
  <%= f.password_field :auth_token, :autocomplete => :off -%>
  </p>
  <p>
  <%= f.label :from -%><br/>
  <%= f.text_field :from, :value => channel.from, :autocomplete => :off -%>
  </p>
  <p>
  Callback urls for incoming messages (use <a href="http://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">Basic Http Authentication</a> with channel name and incoming password):<br/>
  <code><%= twilio_url(account.name) -%></code><br/>
  </p>
  <p>
  <%= f.label :incoming_password -%> (to use for the callback urls)<br/>
  <%= f.password_field :incoming_password, :autocomplete => :off -%>
  </p>
  <%= render 'edit_footer', :f => f %>
<%- end -%>
