<p style="margin:0px;">Nuntium is an open source and free platform
-developed by <a href="http://www.instedd.org/" target="_blank">InSTEDD</a>-
that allows applications to send and receive all type of messages.<br/>
Examples of messages are sms, emails and twitter direct messages. <a href="http://code.google.com/p/nuntium/" target="_blank">Learn more...</a>
<br/><br/>
Have a question? <%= link_to 'Ask it on our group', 'http://tech.groups.yahoo.com/group/nuntiumusers/', :target => '_blank' %>
</p>

<hr/>

<h3>Login to your account:</h3>

When logging in as an application, use <i>account/application</i> as the name.

<%= form_for @account, :url => session_path, :html => {:id => 'login'} do |f| -%>
  <p>
  <%= f.label :name -%><br/>
  <%= f.text_field :name -%>
  </p>
  <p>
  <%= f.label :password -%><br/>
  <%= f.password_field :password -%>
  </p>
  <p style="color:red"><%= flash[:login_error] -%></p>
  <%= submit_tag 'Login' -%>
<%- end -%>

<%- unless Nuntium::AccountCreationDisabled -%>

<h3>Or create a new one:</h3>

<%= form_for @new_account, :url => register_session_path, :html => {:id => 'new_account'} do |f| -%>
  <%= f.error_messages -%>
  <p>
  <%= f.label :name -%><br/>
  <%= f.text_field :name, :autocomplete => :off -%>
  </p>
  <p>
  <%= f.label :password -%><br/>
  <%= f.password_field :password, :autocomplete => :off  -%>
  </p>
  <p>
  <%= f.label :password_confirmation -%><br/>
  <%= f.password_field :password_confirmation, :autocomplete => :off  -%>
  </p>
  <%= submit_tag 'Create Account' -%>
<%- end -%>

<%- end -%>
