<p>
Messages sent from your application into Nuntium and then into the world are called Application Originated messages. <a href="http://code.google.com/p/nuntium/wiki/Messages#Application_Originated_messages" target="_blank">Learn more...</a>
</p>

<form id="ao_messages_form" action="#ao">
<input type="hidden" name="page" value="<%= @page -%>" />
<input type="hidden" name="previous_search" value="<%= @search -%>" />
<input type="hidden" id="ao_all" name="ao_all" value="0" />

<%- if applications.empty? -%>
  <%= link_to 'Create an Application', new_application_path -%> to create AO Messages.<br/><br/>
<%- else -%>
  <%= link_to '<img src="/images/new_message.png" width="16" height="16" style="position:relative; top:4px" alt="Create new AO Message">Create new AO Message'.html_safe, new_ao_message_path -%> &nbsp; &nbsp;
<%- end -%>
Search: <input type="text" name="search" value="<%= @search.try(:html_safe) -%>" size="50" class="<%= @search.present? ? 'highlighted' : '' -%>"/> <a href="http://code.google.com/p/nuntium/wiki/AdvancedSearch" target="_blank" title="You can filter by field like 'id:5', 'before:&quot;20 minutes ago&quot;', 'state:queued', etc.">?</a> &nbsp; &nbsp;
Select: <%= link_to_function 'all', 'select_all_ao_messages()' -%>, <%= link_to_function 'none', 'select_none_ao_messages()' -%> &nbsp; &nbsp;
Actions: <%= link_to_function 'mark as cancelled', 'mark_ao_messages_as_cancelled()' -%>, <%= link_to_function 're-route', 'reroute_ao_messages()' -%>

<div><%= page_entries_info @ao_messages, :entry_name => 'message' -%></div>
<%= will_paginate @ao_messages, :param_name => 'page', :params => { :previous_search => @search } -%>

<div id="all_ao_messages_text" style="display:none"></div>
<%- if @ao_messages.present? -%>
  <table border="1" class="table">
    <tr>
      <th></th>
      <th>When</th>
      <th>Id</th>
      <th>Guid</th>
      <th>Channel Relative Id</th>
      <th>From</th>
      <th>To</th>
      <th>Subject</th>
      <th>Body</th>
      <th>Channel</th>
      <th>Application</th>
      <th>Tries</th>
      <th>State</th>
      <th></th>
    </tr>
    <tr>
    <%- @ao_messages.each_with_index do |msg, i| -%>
      <tr class="<%= i.even_to_s -%>">
        <td><input type="checkbox" name="ao_messages[]" value="<%= msg.id -%>" <%= 'checked="checked"' if !params[:ao_messages].nil? && params[:ao_messages].include?(msg.id.to_s) -%>/></td>
        <td>
          <%- if msg.parent_id
            image_name = @ao_messages[i+1] && @ao_messages[i+1].parent_id == msg.parent_id ? 'branch' : 'branch_end'
            -%>
            <%= image_tag "#{image_name}.png", :size => '16x16', :style => 'position:relative; top:4px' -%>
          <%- end -%>
          <%= time_ago msg.timestamp -%>
        </td>
        <td align="right"><%= msg.id -%></td>
        <td><%= short_html msg.guid -%></td>
        <td><%= short_html msg.channel_relative_id -%></td>
        <td><%= msg.from -%></td>
        <td><a hre<%= link_to msg.to, thread_ao_message_path(msg), :target => '_blank' if msg.to.present? -%></td>
        <td><%= short_html message_subject(msg) -%></td>
        <td><%= short_html message_body(msg) -%></td>
        <td><%= msg.channel.try(:name) -%></td>
        <td><%= msg.application.try(:name) -%></td>
        <td align="right"><%= msg.tries -%></td>
        <td><%= msg.state -%></td>
        <td>
          <%= link_to 'view log', msg, :target => '_blank'%>
        </td>
      </tr>
    <%- end -%>
  </table>
<%- end -%>

<%= will_paginate @ao_messages, :param_name => 'page', :params => { :previous_search => @search } -%>
</form>

<script>
var total_ao_messages = <%= @ao_messages.total_entries -%>;
var current_ao_messages = <%= @ao_messages.length -%>;
<%-
if !params[:ao_all].nil? && params[:ao_all].to_b
  -%>
  select_all_pages_ao_messages();
  <%-
end
-%>
</script>
