<h2>Application <%= @kind == 'ao' ? 'Originated' : 'Terminated' %> Message #<%= @id %></h2>

<h4><%= link_to_function 'Log', "toggle('log')" %></h4>

<div id="log">
<table border="1" class="table">
  <tr>
    <th>When</th>
    <th>Severity</th>
    <th>Text</th>
  </tr>
  <tr>
  <% @logs.each do |log| %>
    <tr>
      <td><%= time_ago log.created_at %></td>
      <td><%= log.severity_html %></td>
      <td><%= log.message %></td>
    </tr>
  <% end %>
</table>
</div>

<h4><%= link_to_function 'Details', "toggle('details')" %></h4>

<div id="details">
<table class="table">
  <tr valign="baseline">
    <td><b>Id:</b></td>
    <td><%= @msg.id %></tmsg.channeld>
  </tr>
  <tr valign="baseline">
    <td><b>Guid:</b></td>
    <td><%= @msg.guid %></td>
  </tr>
  <tr valign="baseline">
    <td><b>When:</b></td>
    <td><%= time_ago @msg.timestamp %></td>
  </tr>
  <tr valign="baseline">
    <td><b>Channel relative id:</b></td>
    <td><%= @msg.channel_relative_id %></td>
  </tr>
  <tr valign="baseline">
    <td><b>From:</b></td>
    <td><%= @msg.from %></td>
  </tr>
  <tr valign="baseline">
    <td><b>To:</b></td>
    <td><%= @msg.to %></td>
  </tr>
  <tr valign="baseline">
    <td><b>Subject:</b></td>
    <td><%= @msg.subject %></td>
  </tr>
  <tr valign="baseline">
    <td><b>Body:</b></td>
    <td><%= @msg.body %></td>
  </tr>
  <tr valign="baseline">
    <td><b>In channel:</b></td>
    <td><%= @msg.channel.name rescue '' %></td>
  </tr>
  <tr valign="baseline">
    <td><b>Tries:</b></td>
    <td><%= @msg.tries %></td>
  </tr>
  <tr valign="baseline">
    <td><b>State:</b></td>
    <td><%= @msg.state %></td>
  </tr>
  <% if @msg.state == 'broadcasted' %>
    <tr valign="baseline">
      <td><b>Broadcasted copies:</b></td>
      <td>
        <%= AOMessage.all(:conditions => ['parent_id = ?', @msg.id]).map do |b|
          link_to b.id, {:controller => :message, :action => :view_ao_message, :id => b.id}, :target => '_blank'
        end.join(', ') %>
      </td>
    </tr>
  <% end %>
  <% if @msg.parent_id and parent = @msg.class.find_by_id(@msg.parent_id)%>
    <tr valign="baseline">
      <td><b>Original:</b></td>
      <td><%= link_to parent.id, {:controller => :message, :action => :view_ao_message, :id => parent.id}, :target => '_blank' %></td>
    </tr>
  <% end %>
  <% if @msg.class == AOMessage && !@msg.channel.nil?
    hash = @msg.channel.handler.more_info(@msg)
    hash.each_pair do |key, value|
      %>
      <tr valign="baseline">
      <td><b style="color:blue"><%= key %>:</b></td>
      <td><%= value %></td>
    </tr>
      <%
    end
  end 
  %>
</table>
</div>

<% unless @msg.custom_attributes.empty?
  countries = Country.all
  carriers = Carrier.all
  %>
  <h4><%= link_to_function 'Custom Attributes', "toggle('custom_attributes')" %></h4>

  <div id="custom_attributes">
  <table class="table">
    <% @msg.custom_attributes.each_multivalue do |key, values|
      values.map! do |value|
        case key
        when 'country'
          result = countries.select{|x| x.iso2.casecmp(value) == 0}.first
          result ? result.name : value 
        when 'carrier'
          result = carriers.select{|x| x.guid == value}.first
          result ? result.name : value
        else
          value
        end
      end
      values = values.join(', ')
      %>
      <tr valign="baseline">
        <td><b><%= key %>:</b></td>
        <td><%= values %></td>
      </tr>
    <% end %>
  </table>
  </div>
<% end %>
