<h2>Log for Application <%= @kind == 'ao' ? 'Oriented' : 'Terminated' %> Message #<%= @id %></h2>

<table border="1" class="table">
  <tr>
    <th>When</th>
    <th>Severity</th>
    <th>Text</th>
  </tr>
  <tr>
  <% @logs.each do |log| %>
    <tr>
      <td><%= time_ago log.created_at %></td>
      <td><%= log.severity_html %></td>
      <td><%= log.message %></td>
    </tr>
  <% end %>
</table>