<h2>Application <%= @kind == 'ao' ? 'Originated' : 'Terminated' %> Message #<%= @id %></h2>

<h4><%= link_to_function 'Log', "toggle('log')" %></h4>

<div id="log">
<table border="1" class="table">
  <tr>
    <th>When</th>
    <th>Severity</th>
    <th>Text</th>
  </tr>
  <tr>
  <% @logs.each do |log| %>
    <tr>
      <td><%= time_ago log.created_at %></td>
      <td><%= log.severity_html %></td>
      <td><%= log.message %></td>
    </tr>
  <% end %>
</table>
</div>

<%= render :partial => 'message' %>
