<h4><%= link_to_function 'Applications', "toggle('applications')" %></h4>

<div id="applications">

<p>
A Nuntium Application simply represents your application.<br/>
If you have many applications you would create many Nuntium Applications, and you can choose to interface with each of them in a different way.
</p>

<% if @applications.empty? %>
  No applications.
<% else %>
  <table class="table" cellspacing="4">
    <tr>
      <th>Name</th>
      <th>Interface</th>
      <th>Route via last channel?</th>
      <th>Strategy</th>
      <th>Delivery ACK</th>
      <th></th>
    </tr>
    <% @applications.each_with_index do |app, i| %>
      <tr class="<%= i.even_to_s %>">
        <td><%= app.name %></td>
        <td><%= app.interface_description %></td>
        <td><%= app.use_address_source? ? 'Yes' : 'No' %></td>
        <td><%= app.strategy_description %></td>
        <td><%= app.delivery_ack_method_description %></td>
        <td>
          <%= link_to "edit", :controller => :home, :action => :edit_application, :id => app.id %>
          <%= link_to "delete", {:controller => :home, :action => :delete_application, :id => app.id}, :confirm => "Are you sure you want to delete the application #{app.name}?" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<br/>

<%= link_to 'Create new Application', :controller => :home, :action => :new_application %>
</div>
