<h4>Edit settings / Change password</h4>

<% form_for :application, :url => { :controller => 'home', :action => :update_application } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :max_tries %><br/>
  <%= f.text_field :max_tries %>
  </p>
  <p>
  <%= f.label :interface %><br/>
  <%= f.radio_button :interface, 'rss', :onclick => "$('application_configuration_url').disabled=true;" %>Rss<br/>
  <%= f.radio_button :interface, 'qst', :onclick => "$('application_configuration_url').disabled=false;" %>QST<br/>
  <div>
  	<% f.fields_for :configuration do |c| %>
    <p>
    <%= c.label :url %><br/>
    <%= c.text_field :url, :value => @application.configuration[:url], :disabled => @application.interface == 'rss' %>
    </p>
  <% end %>
  </div>
  </p>	
  <hr />
  <p>
  <b>Leave blank if you don't want to change the password</b><br/>
  <%= f.label :password %><br/>
  <%= f.password_field :password, :autocomplete => :off %>
  </p>
  <p>
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation, :autocomplete => :off %>
  </p>
  <hr />
  <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>