<h4>Edit settings / Change password</h4>

<% form_for :account, :url => { :controller => 'home', :action => :update_account } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :max_tries %><br/>
  <%= f.text_field :max_tries %>
  </p>
  <hr />
  <p>
  <b>Leave blank if you don't want to change the password</b><br/>
  <%= f.label :password %><br/>
  <%= f.password_field :password, :value => '', :autocomplete => :off %>
  </p>
  <p>
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation, :value => '', :autocomplete => :off %>
  </p>
  <hr />
  <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>
