<% content_for :head do%>
	<script type="text/javascript" charset="utf-8">
	function disableConfig(value) {
		$('application_configuration_url').disabled=value;
		$('application_configuration_cred_user').disabled=value;
		$('application_configuration_cred_pass').disabled=value;
	} 
	</script>
<% end%>

<h4>Edit settings / Change password</h4>

<% form_for :application, :url => { :controller => 'home', :action => :update_application } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :max_tries %><br/>
  <%= f.text_field :max_tries %>
  </p>
  <p>
  <%= f.label :interface %><br/>
  <%= f.radio_button :interface, 'rss', :onclick => "disableConfig(true);" %> <%= f.label :interface, 'Rss', :value => 'rss' %><br/>
  <%= f.radio_button :interface, 'qst_client', :onclick => "disableConfig(false);"%> <%= f.label :interface, 'QST client', :value => 'qst_client' %><br/>
  
  <% f.fields_for :configuration do |c| %>
  
  <p>
  Route via last AT channel used <acronym title="When an AO message needs to be routed, if it's 'to' field matches the 'from' field of the last AT message received, the channel used to receieve that AT message will be used.">?</acronym><br/>
  <%= c.radio_button :use_address_source, 1, :checked => !@application.configuration[:use_address_source].nil? %> <%= c.label :use_address_source, 'Yes', :value => 1 %>
  <%= c.radio_button :use_address_source, 0, :checked => @application.configuration[:use_address_source].nil? %> <%= c.label :use_address_source, 'No', :value => 0 %>
  </p>
  
  <div>
    <h5>Configuration:</h5>
	<p>
    <%= c.label :url %><br/>
    <%= c.text_field :url, :value => @application.configuration[:url], :disabled => @application.interface != 'qst_client', :class => 'configurl' %>
    </p>
    <p>
    <%= c.label :cred_user %><br/>
    <%= c.text_field :cred_user, :value => @application.configuration[:cred_user], :disabled => @application.interface != 'qst_client', :class => 'configurl' %>
    </p>
    <p>
    <%= c.label :cred_pass %><br/>
    <%= c.password_field :cred_pass, :value => @application.configuration[:cred_pass], :disabled => @application.interface != 'qst_client', :autocomplete => :off, :class => 'configurl' %>
    </p>
  <% end %>
  </div>
  </p>	
  <hr />
  <p>
  <b>Leave blank if you don't want to change the password</b><br/>
  <%= f.label :password %><br/>
  <%= f.password_field :password, :value => '', :autocomplete => :off %>
  </p>
  <p>
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation, :value => '', :autocomplete => :off %>
  </p>
  <hr />
  <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>