<h4>Edit alerts</h4>

<p>
When an alert is triggered a message with the given <i>from</i> and <i>to</i> will be sent to the given channels.<br/>
You can specify many <i>to</i> receipients by separating them with a comma. It's not necessary to specify a protocol in the <i>from</i> and <i>to</i> fields.
</p>

<% form_for :application, :url => { :controller => 'home', :action => :update_application_alerts } do |f| %>
  <%= f.error_messages %>
  <table class="table">
    <tr>
      <th>Channel</th>
      <th>Activated for alert</th>
      <th>From</th>
      <th>To</th>
    </tr>
    <% @channels.each do |chan| %>
      <%
      cfg = @alert_configurations.select{|c| c.channel_id == chan.id }.first
      %>
      <tr>
        <th><%= chan.name %></th>
        <th><input type="checkbox" name="channel[<%= chan.id %>][activated]" <%= 'checked="checked"' if !cfg.nil? %> /></th>
        <th><input type="text" name="channel[<%= chan.id %>][from]" <%= "value=\"#{cfg.from}\"" if !cfg.nil? %> /></th>
        <th><input type="text"  name="channel[<%= chan.id %>][to]" <%= "value=\"#{cfg.to}\"" if !cfg.nil? %> /></th>
      </tr>
    <% end %>
  </table>
  <br/>
  
  <% f.fields_for :configuration do |c| %>
  <table>
    <tr>
      <td colspan="2">Fire alerts using this logic:</td>
    </tr>
    <tr valign="top">
      <td><%= c.text_area :alert, :rows => 13, :cols => 60, :wrap => 'off', :value => @application.configuration[:alert] %></td>
      <td>
        <div style="width:600px; height:226px; overflow:auto; background-color: #E5ECF9; padding:0px 8px 0px 8px;">
          This code will be executed every five minutes. You have the given function available:
          <p>
          <code><b>trigger.alert(kind, msg)</b></code>: creates and routes an
            Application Originated message for for each channel that is
            activated for alert. If an alert of a given <code>kind</code> has
            been sent, it won't be sent again for an hour.
          <pre class="example">trigger.alert 'ErrorsInLastHour', 'There have been 5 errors in the last hour'</pre>
          </p>
          <p>A variable named <b><code>app</code></b> is defined with the current <code>Application</code></p>          
        </div>
      </td>
    </tr>
  </table>
  <% end %>
  
  <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>
