<h3>Current application is: <%= @application.name %> (<%= link_to "logoff", :controller => :home, :action => :logoff %>)</h3>

<h4>Edit channel <%= @channel.name %></h4>

<% form_for :channel, :url => { :controller => 'home', :action => :update_channel } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :protocol %><br/>
  <%= f.text_field :protocol %>
  </p>
  <% f.fields_for :configuration do |c| %>
    <p>
    <b>Leave blank if you don't want to change the password</b><br/>
    <%= c.label :password %><br/>
    <%= c.password_field :password %>
    </p>
    <p>
    <%= c.label :password_confirmation %><br/>
    <%= c.password_field :password_confirmation %>
    </p>
  <% end %>
  <%= submit_tag 'Update channel' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>