<% if !flash[:notice].nil? %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if !@failed_alerts.empty? %>
  <div id="alerts">
  Some alerts could not be sent, please check the log of the following messages:
  <%= @failed_alerts.map { |alert| link_to alert.ao_message_id.to_s, {:controller => :message, :action => :view_ao_message, :id => alert.ao_message_id}, :popup => ['log', 'width=640,height=480,scrollbars=yes'] }.join(', ') %>
  (<%= link_to 'clear this message', :controller => 'home', :action => 'delete_failed_alerts' %>)
  </div>
<% end %>

<h4><%= link_to_function 'Interactions', "toggle('interactions')" %></h4>

<div id="interactions" style="display:none">
<% if @channels.empty? %>
  To interact with this account you must first create a new channel.
<% else %>
  <div style="padding-left:20px">
  
  <% if !@channels.select{|c| c.kind == 'clickatell'}.empty? %>
    <div><b>Via <%= link_to 'Clickatell', 'http://www.clickatell.com', :target => '_blank' %></b></div>
    Use <%= link_to 'Http Basic Authentication', 'http://en.wikipedia.org/wiki/Basic_access_authentication', :target => '_blank' %> with channel name and incoming password.
    <ul>
      <li><span style="font-family:monospace">GET <%= url_for :controller => :clickatell, :action => :index, :account_id => @account.name %></span>:
        create Application Terminated Messages</li>
      <li><span style="font-family:monospace">GET <%= url_for :controller => :clickatell, :action => :index, :account_id => @account.id %></span>:
        create Application Terminated Messages</li>
    </ul>
  <% end %>
  
  <% if !@channels.select{|c| c.kind == 'dtac'}.empty? %>
    <div><b>Via <%= link_to 'DTAC', 'http://www.dtac.co.th/', :target => '_blank' %></b></div>
    Use <%= link_to 'Http Basic Authentication', 'http://en.wikipedia.org/wiki/Basic_access_authentication', :target => '_blank' %> with channel name and incoming password.
    <ul>
      <li><span style="font-family:monospace">GET <%= url_for :controller => :dtac, :action => :index, :account_id => @account.name %></span>:
        create Application Terminated Messages</li>
      <li><span style="font-family:monospace">GET <%= url_for :controller => :dtac, :action => :index, :account_id => @account.id %></span>:
        create Application Terminated Messages</li>
    </ul>
  <% end %>
  
  <% if !@channels.select{|c| c.kind == 'pop3'}.empty? %>
    <div><b>Via Email</b></div>
    <ul>
      <% @channels.select{|c| c.kind == 'pop3'}.each do |c| %>
        <li>Send an email to <%= c.configuration[:user] %>: create Application Terminated Messages</li>
      <% end %>
    </ul>
  <% end %>
  
  <% if !@channels.select {|c| c.kind == 'qst_server'}.empty? %>
    <div><b>Via <%= link_to 'QueueStateTransfer', 'http://code.google.com/p/geochat/wiki/QueueStateTransfer', :target => '_blank' %></b></div>
    <ul>
      <li>Use <span style="font-family:monospace">/qst/<%= @account.name %></span> when configuring a QST client using <%= link_to 'Http Basic Authentication', 'http://en.wikipedia.org/wiki/Basic_access_authentication', :target => '_blank' %> with channel credentials</li>
    </ul>
  <% end %>
  
  <% if @account.interface == 'rss' %>
    <div><b>Via <%= link_to 'RSS', 'http://en.wikipedia.org/wiki/RSS', :target => '_blank' %></b></div>
    Use <%= link_to 'Http Basic Authentication', 'http://en.wikipedia.org/wiki/Basic_access_authentication', :target => '_blank' %> with account credentials.
    
    <ul>
      <li><span style="font-family:monospace">POST <%= url_for :controller => :rss, :action => :create %></span>: 
        create Application Originated Messages</li>
      <li><span style="font-family:monospace">GET <%= url_for :controller => :rss, :action => :index %></span>:
        read Application Terminated Messages</li>
    </ul>
  <% end %>
  
  <% if !@channels.select{|c| c.kind == 'twitter'}.empty? %>
    <div><b>Via <%= link_to 'Twitter', 'http://www.twitter.com', :target => '_blank' %></b></div>
    <ul>
      <% @channels.select{|c| c.kind == 'twitter'}.each do |c| %>
        <li>Send a direct message to <%= c.configuration[:screen_name] %>: create Application Terminated Messages</li>
      <% end %>
    </ul>
  <% end %>
  
  </div>
<% end %>
</div>

<h4><%= link_to_function 'Settings', "toggle('settings')" %></h4>

<div id="settings" style="display:none">
<ul>
  <li>Interface: <%= @account.interface_description %></li>
  <li>Max tries: <%= @account.max_tries %></li>
</ul>

<ul>
  <li><%= link_to "Edit Settings / Change password", :controller => :home, :action => :edit_account %></li>
  <li><%= link_to "Edit Alerts", :controller => :home, :action => :edit_account_alerts %></li>
  <% unless @account.configuration[:use_address_source].nil? %>
    <li>Find last AT channel used for address: <input id="address_source" name="address" type="text" /> <button id="address_source_button">Find</button> <span id="address_source_result"></span></li>
  <% end %>
</ul>
</div>

<h4><%= link_to_function 'Channels', "toggle('channels')" %></h4>

<div id="channels">
<% if @channels.empty? %>
  No channels.
<% else %>
  <table class="table" cellspacing="4">
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Direction</th>
      <th>Protocol</th>
      <th>Info</th>
      <th>Throttle</th>
      <th>Queued AO Messages</th>
      <th></th>
    </tr>
    <% @channels.each do |chan| %>
      <tr>
        <td>
          <%= image_tag (chan.enabled ? 'enabled' : 'disabled') + '.png', :size => '16x16', :style => 'position:relative; top:4px', :title => 'This channel is ' + (chan.enabled ? 'enabled' : 'disabled') %>
          <b><%= chan.name %></b></td>
        <td><%= chan.kind %></td>
        <td><%= chan.direction_text %></td>
        <td><%= chan.protocol %></td>
        <td><%= chan.info.blank? ? '' : chan.info %></td>
        <td align="right"><%= chan.throttle.nil? ? '' : "#{chan.throttle}/min" %></td>
        <%
        queued = @channels_queued_count[chan.id]
        if queued > 0
          %>
          <td align="right"><%= link_to queued, :controller => :home, :action => :home, :ao_search => "channel:#{chan.name} state:queued" %></td>
          <%
        else
          %>
          <td align="right">0</td>
          <%
        end
        %>
        <td>
          <% if chan.enabled %>
            <%= link_to "disable", {:controller => :channel, :action => :disable_channel, :id => chan.id}, :confirm => "Are you sure you want to disable the channel #{chan.name}?" %>
          <% else %>
            <%= link_to "enable", :controller => :channel, :action => :enable_channel, :id => chan.id %>
          <% end %>
          <%= link_to "edit", :controller => :channel, :action => :edit_channel, :id => chan.id %>
          <%= link_to "delete", {:controller => :channel, :action => :delete_channel, :id => chan.id}, :confirm => "Are you sure you want to delete the channel #{chan.name}?" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<br/>

<%
channel_kinds = [
  ['Create new...', ''], 
  ['Clickatell', 'clickatell'], 
  ['DTAC', 'dtac'], 
  ['POP3', 'pop3'],
  ['QST client', 'qst_client'],
  ['QST server', 'qst_server'],
  ['SMPP', 'smpp'],
  ['SMTP', 'smtp'],
  ['Twitter', 'twitter'],  
  ]
channel_kinds[1..-1].map!{|x| x[0] << ' channel'}
%>
<%= select_tag('new_channel', options_for_select(channel_kinds), :onchange => 'create_channel(this)') %>
</div>

<h4><%= link_to_function 'Applications', "toggle('applications')" %></h4>

<div id="applications">

<% if @applications.empty? %>
  No applications.
<% else %>
  <table class="table" cellspacing="4">
    <tr>
      <th>Name</th>
      <th>Interface</th>
      <th></th>
    </tr>
    <% @applications.each do |app| %>
      <tr>
        <td><%= app.name %></td>
        <td><%= app.interface_description %></td>
        <td>
          <%= link_to "edit", :controller => :home, :action => :edit_application, :id => app.id %>
          <%= link_to "delete", {:controller => :home, :action => :delete_application, :id => app.id}, :confirm => "Are you sure you want to delete the application #{app.name}?" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<br/>

<%= link_to 'Create new Application', :controller => :home, :action => :new_application %>

</div>

<h4><%= link_to_function 'Last Application Originated Messages', "toggle('last_ao_messages')", :name => 'ao' %></h4>

<div id="last_ao_messages">
<form id="ao_messages_form" action="#ao">
<input type="hidden" name="ao_page" value="<%= @ao_page %>" />
<input type="hidden" name="ao_previous_search" value="<%= @ao_search %>" />
<input type="hidden" name="at_page" value="<%= @at_page %>" />
<input type="hidden" name="at_search" value="<%= @at_search %>" />
<input type="hidden" id="ao_all" name="ao_all" value="0" />

<%= link_to '<img src="/images/new_message.png" width="16" height="16" style="position:relative; top:4px" alt="Create new AO Message">Create new AO Message', :controller => :message, :action => :new_ao_message %> &nbsp; &nbsp;
Search: <input type="text" name="ao_search" value="<%= h @ao_search %>" size="50" /> <a href="http://code.google.com/p/nuntium/wiki/AdvancedSearch" target="_blank" title="You can filter by field like 'id:5', 'before:&quot;20 minutes ago&quot;', 'state:queued', etc.">?</a> &nbsp; &nbsp;
Select: <%= link_to_function 'all', 'select_all_ao_messages()' %>, <%= link_to_function 'none', 'select_none_ao_messages()' %> &nbsp; &nbsp;
Actions: <%= link_to_function 'mark as cancelled', 'mark_ao_messages_as_cancelled()' %>, <%= link_to_function 're-route', 'reroute_ao_messages()' %>

<div><%= page_entries_info @ao_messages, :entry_name => 'message' %></div>
<%= will_paginate @ao_messages, :param_name => 'ao_page', :params => { :ao_previous_search => @ao_search, :anchor => 'ao' } %>

<div id="all_ao_messages_text" style="display:none"></div>

<input type="hidden" name="ao_page" value="<%= @ao_page %>" />
<input type="hidden" name="ao_previous_search" value="<%= @ao_search %>" />
<input type="hidden" name="at_page" value="<%= @at_page %>" />
<input type="hidden" name="at_search" value="<%= @at_search %>" />
<input type="hidden" name="log_page" value="<%= @log_page %>" />
<input type="hidden" name="log_search" value="<%= @log_search %>" />

<% if !@ao_messages.empty? %>
  <table border="1" class="table">
    <tr>
      <th></th>
      <th>When</th>
      <th>Id</th>
      <th>Guid</th>
      <th>Channel Relative Id</th>
      <th>From</th>
      <th>To</th>
      <th>Subject</th>
      <th>Body</th>
      <th>In channel</th>
      <th>Tries</th>
      <th>State</th>
      <th></th>
    </tr>
    <tr>
    <% @ao_messages.each do |msg| %>
      <%
      chan = @channels.select{|x| msg.channel_id == x.id}
      %>
      <tr>
        <td><input type="checkbox" name="ao_messages[]" value="<%= msg.id %>" <%= 'checked="checked"' if !params[:ao_messages].nil? && params[:ao_messages].include?(msg.id.to_s) %>/></td>
        <td><%= time_ago msg.timestamp %></td>
        <td align="right"><%= msg.id %></td>
        <td><%= short_html msg.guid %></td>
        <td><%= short_html msg.channel_relative_id %></td>
        <td><%= msg.from %></td>
        <td><%= msg.to %></td>
        <td><%= short_html msg.subject %></td>
        <td><%= short_html msg.body %></td>
        <td><%= chan.length > 0 ? chan[0].name : '' %></td>
        <td align="right"><%= msg.tries %></td>
        <td><%= msg.state %></td>
        <td><%= link_to 'view log', {:controller => :message, :action => :view_ao_message, :id => msg.id}, :popup => ['log', 'width=640,height=480,scrollbars=yes'] %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= will_paginate @ao_messages, :param_name => 'ao_page', :params => { :ao_previous_search => @ao_search, :anchor => 'ao' } %>
</form>
</div>

<h4><%= link_to_function 'Last Application Terminated Messages', "toggle('last_at_messages')", :name => 'at' %></h4>

<div id="last_at_messages">
<form id="at_messages_form" action="#at">
<input type="hidden" name="at_page" value="<%= @at_page %>" />
<input type="hidden" name="at_previous_search" value="<%= @at_search %>" />
<input type="hidden" name="ao_page" value="<%= @ao_page %>" />
<input type="hidden" name="ao_search" value="<%= @ao_search %>" />
<input type="hidden" name="log_page" value="<%= @log_page %>" />
<input type="hidden" name="log_search" value="<%= @log_search %>" />
<input type="hidden" id="at_all" name="at_all" value="0" />

<%= link_to '<img src="/images/new_message.png" width="16" height="16" style="position:relative; top:4px" alt="Create new AT Message">Create new AT Message', :controller => :message, :action => :new_at_message %> &nbsp; &nbsp;
Search: <input type="text" name="at_search" value="<%= h @at_search %>" size= "50" /> <a href="http://code.google.com/p/nuntium/wiki/AdvancedSearch" target="_blank" title="You can filter by field like 'id:5', 'before:&quot;20 minutes ago&quot;', 'state:queued', etc.">?</a> &nbsp; &nbsp;
Select: <%= link_to_function 'all', 'select_all_at_messages()' %>, <%= link_to_function 'none', 'select_none_at_messages()' %> &nbsp; &nbsp;
Actions: <%= link_to_function 'mark as cancelled', 'mark_at_messages_as_cancelled()' %>

<div><%= page_entries_info @at_messages, :entry_name => 'message' %></div>
<%= will_paginate @at_messages, :param_name => 'at_page', :params => { :at_previous_search => @at_search, :anchor => 'at' } %>

<div id="all_at_messages_text" style="display:none"></div>

<% if !@at_messages.empty? %>
  <table border="1" class="table">
    <tr>
      <th></th>
      <th>When</th>
      <th>Id</th>
      <th>Guid</th>
      <th>Channel Relative Id</th>
      <th>From</th>
      <th>To</th>
      <th>Subject</th>
      <th>Body</th>
      <th>In channel</th>
      <th>Tries</th>
      <th>State</th>
      <th></th>
    </tr>
    <tr>
    <% @at_messages.each do |msg| %>
      <%
      chan = @channels.select{|x| msg.channel_id == x.id}
      %>
      <tr>
        <td><input type="checkbox" name="at_messages[]" value="<%= msg.id %>" <%= 'checked="checked"' if !params[:at_messages].nil? && params[:at_messages].include?(msg.id.to_s) %>/></td>
        <td><%= time_ago msg.timestamp %></td>
        <td align="right"><%= msg.id %></td>
        <td><%= short_html msg.guid %></td>
        <td><%= short_html msg.channel_relative_id %></td>
        <td><%= msg.from %></td>
        <td><%= msg.to %></td>
        <td><%= short_html msg.subject %></td>
        <td><%= short_html msg.body %></td>
        <td><%= chan.length > 0 ? chan[0].name : '' %></td>
        <td align="right"><%= msg.tries %></td>
        <td><%= msg.state %></td>
        <td><%= link_to 'view log', {:controller => :message, :action => :view_at_message, :id => msg.id}, :popup => ['log', 'width=640,height=480,scrollbars=yes'] %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= will_paginate @at_messages, :param_name => 'at_page', :params => { :at_previous_search => @at_search, :anchor => 'at' } %>
</form>
</div>

<h4><%= link_to_function 'Logs', "toggle('logs')" %></h4>

<div id="logs">
<form id="logs_form" action="#logs">

<form id="at_messages_form" action="#at">
<input type="hidden" name="log_page" value="<%= @log_page %>" />
<input type="hidden" name="log_previous_search" value="<%= @log_search %>" />
<input type="hidden" name="ao_page" value="<%= @ao_page %>" />
<input type="hidden" name="ao_search" value="<%= @ao_search %>" />
<input type="hidden" name="at_page" value="<%= @at_page %>" />
<input type="hidden" name="at_search" value="<%= @at_search %>" />

Search: <input type="text" name="log_search" value="<%= h @log_search %>" size= "50" /> <a href="http://code.google.com/p/nuntium/wiki/AdvancedSearch" target="_blank" title="You can filter by field like 'severity:warning', 'before:&quot;20 minutes ago&quot;' etc.">?</a> &nbsp; &nbsp;

<div><%= page_entries_info @logs, :entry_name => 'log entry' %></div>
<%= will_paginate @logs, :param_name => 'logs_page', :params => { :log_previous_search => @log_search, :anchor => 'logs' } %>

<% if !@logs.empty? %>
  <table border="1" class="table">
    <tr>
      <th>When</th>
      <th>Severity</th>
      <th>Channel</th>
      <th>AO Message</th>
      <th>AT Message</th>
      <th>Text</th>
    </tr>
    <tr>
    <% @logs.each do |log| %>
      <%
      chan = @channels.select{|x| log.channel_id == x.id}
      %>
      <tr>
        <td><%= time_ago log.created_at %></td>
        <td><%= log.severity_html %></td>
        <td><%= chan.length > 0 ? chan[0].name : '' %></td>
        <td><%= link_to "#{log.ao_message_id}", {:controller => :message, :action => :view_ao_message, :id => log.ao_message_id}, :popup => ['log', 'width=640,height=480,scrollbars=yes'] if !log.ao_message_id.nil? %></td>
        <td><%= link_to "#{log.at_message_id}", {:controller => :message, :action => :view_at_message, :id => log.at_message_id}, :popup => ['log', 'width=640,height=480,scrollbars=yes'] if !log.at_message_id.nil? %></td>
        <td><%= short_html log.message, 100 %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= will_paginate @logs, :param_name => 'logs_page', :params => { :log_previous_search => @log_search, :anchor => 'logs' } %>
</form>
</div>

<script>
var total_ao_messages = <%= @ao_messages.total_entries %>;
var current_ao_messages = <%= @ao_messages.length %>;
var total_at_messages = <%= @at_messages.total_entries %>;
var current_at_messages = <%= @at_messages.length %>;

<%
if !params[:ao_all].nil? && params[:ao_all] == '1'
  %>
  select_all_pages_ao_messages();
  <%
end

if !params[:at_all].nil? && params[:at_all] == '1'
  %>
  select_all_pages_at_messages();
  <%
end
%>
</script>
