<% if !flash[:notice].nil? %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>

<%= render :partial => 'interactions' %>
<%= render :partial => 'settings' %>
<%= render :partial => 'applications' %>
<%= render :partial => 'channels' %>
<%= render :partial => 'aos' %>
<%= render :partial => 'ats' %>
<%= render :partial => 'logs' %>

<script>
var total_ao_messages = <%= @ao_messages.total_entries %>;
var current_ao_messages = <%= @ao_messages.length %>;
var total_at_messages = <%= @at_messages.total_entries %>;
var current_at_messages = <%= @at_messages.length %>;

<%
if !params[:ao_all].nil? && params[:ao_all].to_b
  %>
  select_all_pages_ao_messages();
  <%
end

if !params[:at_all].nil? && params[:at_all].to_b
  %>
  select_all_pages_at_messages();
  <%
end
%>
</script>
