<h3>Current application is: <%= @application.name %> (<%= link_to "logoff", :controller => :home, :action => :logoff %>)</h3>

<h4>Settings</h4>

<ul>
  <li>Max tries: <%= @application.max_tries %></li>
</ul>

<%= link_to "Edit settings / Change password", :controller => :home, :action => :edit_application %>

<h4>Channels</h4>

<ul>
  <% @channels.each do |chan| %>
    <li><b><%= chan.name %></b> => protocol: <%= chan.protocol %>, kind: <%= chan.kind %> <%= link_to "edit", :controller => :home, :action => :edit_channel, :id => chan.id %> <%= link_to "delete", :controller => :home, :action => :delete_channel, :id => chan.id %></li>
  <% end %>
</ul>

<%= link_to "Create new qst channel", :controller => :home, :action => :new_channel %>

<h4>Last Application Oriented Messages</h4>

<table border="1">
  <tr>
    <th>When</th>
    <th>From</th>
    <th>To</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Tries</th>
    <th>State</th>
  </tr>
  <tr>
  <% @ao_messages.each do |msg| %>
    <tr>
      <td><%= msg.timestamp %></td>
      <td><%= short_html msg.from %></td>
      <td><%= short_html msg.to %></td>
      <td><%= short_html msg.subject %></td>
      <td><%= short_html msg.body %></td>
      <td><%= msg.tries %></td>
      <td><%= msg.state %></td>
    </tr>
  <% end %>
</table>

<h4>Last Application Terminated Messages</h4>

<table border="1">
  <tr>
    <th>When</th>
    <th>From</th>
    <th>To</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Tries</th>
    <th>State</th>
  </tr>
  <tr>
  <% @at_messages.each do |msg| %>
    <tr>
      <td><%= msg.timestamp %></td>
      <td><%= short_html msg.from %></td>
      <td><%= short_html msg.to %></td>
      <td><%= short_html msg.subject %></td>
      <td><%= short_html msg.body %></td>
      <td><%= msg.tries %></td>
      <td><%= msg.state %></td>
    </tr>
  <% end %>
</table>
