<% if @account.alert_emails.blank? %>
<p id="errorNotice">
You don't have email alerts configured. <%= link_to "Do this now", :controller => :home, :action => :edit_account %>
</p>
<% end %>

<% if !flash[:notice].nil? %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>

<%= render :partial => 'interactions' %>
<%= render :partial => 'settings' %>
<%= render :partial => 'applications' %>
<%= render :partial => 'channels' %>
<%= render :partial => 'aos' %>
<%= render :partial => 'ats' %>
<%= render :partial => 'logs' %>
