<p>Nuntium is an open source and free platform
-developed by <a href="http://www.instedd.org/" target="_blank">InSTEDD</a>-
that allows applications to send and receive all type of messages.<br/>
Examples of messages are sms, emails and twitter direct messages. <a href="http://code.google.com/p/nuntium/" target="_blank">Learn more...</a>
</p>

<h3>Login to your account:</h3>

<% form_for :account, :url => { :controller => 'home', :action => :login }, :html => {:id => 'login'} do |f| %>
  <p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :password %><br/>
  <%= f.password_field :password %>
  </p>
  <p style="color:red"><%= flash[:notice] %></p>
  <%= submit_tag 'Login' %>
<% end %>

<% unless AccountCreationDisabled %>

<h3>Or create a new one:</h3>

<% form_for :new_account, :url => { :controller => 'home', :action => :create_account }, :html => {:id => 'new_account'} do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %><br/>
  <%= f.text_field :name, :autocomplete => :off %>
  </p>
  <p>
  <%= f.label :password %><br/>
  <%= f.password_field :password, :autocomplete => :off  %>
  </p>
  <p>
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation, :autocomplete => :off  %>
  </p>
  <%= submit_tag 'Create Account' %>
<% end %>

<% end %>
