<h3>Login to your application:</h3>

<% form_for :application, :url => { :controller => 'home', :action => :login } do |f| %>
  <div>Name:</div>
  <div><%= f.text_field :name %></div>
  <div>Password:</div>
  <div><%= f.password_field :password %></div>
  <div style="color:red"><%= flash[:notice] %></div>
  <div><%= submit_tag 'Login' %></div>
<% end %>

<h3>Or create a new one:</h3>

<% form_for :new_application, :url => { :controller => 'home', :action => :create_application } do |f| %>
  <div>Name:</div>
  <div><%= f.text_field :name %></div>
  <div>Password:</div>
  <div><%= f.password_field :password %></div>
  <div>Repeat password:</div>
  <div><%= f.password_field :password_confirmation %></div>
  <div style="color:red"><%= flash[:new_notice] %></div>
  <div><%= submit_tag 'Create Application' %></div>
<% end %>