<h4>Create new Clickatell channel</h4>

<% form_for :channel, :url => { :controller => 'home', :action => :create_channel, :kind => params[:kind] } do |f| %>
  <%= f.error_messages %>
  <input type="hidden" name="direction" value="<%= Channel::Both %>" />
  <p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :protocol %><br/>
  <%= f.text_field :protocol, :value => 'sms', :readonly => 'readonly' %>
  </p>
  <% f.fields_for :configuration do |c| %>
    <p>
    <%= c.label :user %><br/>
    <%= c.text_field :user, :autocomplete => :off %>
    </p>
    <p>
    <%= c.label :password %><br/>
    <%= c.password_field :password, :autocomplete => :off %>
    </p>
    <p>
    <%= c.label :api_ID %><br/>
    <%= c.text_field :api_id %>
    </p>
    <p>
    <%= c.label :from %><br/>
    <%= c.text_field :from %>
    </p>
    <p>
    <%= c.label :incoming_password %><br/>
    <%= c.password_field :incoming_password %>
    </p>
    <p>
    Callback url (use <a href="http://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">Basic Http Authentication</a> with channel name and incoming password):<br/>
    <code>/clickatell/<%= @application.name %>/incoming</code><br/>
	<code>/clickatell/<%= @application.id %>/incoming</code>
    </p>
  <% end %>
  <%= submit_tag 'Create Channel' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>