<h4>Create new <%= @kind == 'ao' ? 'Application Originated' : 'Application Terminated' %> Message</h4>

<% form_for :message, :url => { :controller => 'home', :action => (@kind == 'ao' ? :create_ao_message : :create_at_message)} do |f| %>
  <% [:from, :to, :subject].each do |field| %>
    <p>
    <%= f.label field %><br/>
    <%= f.text_field field, :style => 'width:250px' %>
    </p>
  <% end %>
  <p>
  <%= f.label :body %><br/>
  <%= f.text_area :body, :rows => 5, :cols => 50 %>
  </p>
  <p>
  <%= f.label :timestamp %><br/>
  <%= f.text_field :timestamp, :value => Time.now.utc, :style => 'width:200px' %>
  </p>
  <p>
  <%= f.label :guid %><br/>
  <%= f.text_field :guid, :value => Guid.new.to_s, :style => 'width:260px' %>
  </p>
  <%= submit_tag 'Create Message' %>
<% end %>