<h4>Create new SMTP channel</h4>

<% form_for :channel, :url => { :controller => 'home', :action => :create_channel, :kind => params[:kind] } do |f| %>
  <%= f.error_messages %>
  <input type="hidden" name="direction" value="<%= Channel::Incoming %>" />
  <p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :protocol %><br/>
  <%= f.text_field :protocol, :value => 'mailto', :readonly => 'readonly' %>
  </p>
  <% f.fields_for :configuration do |c| %>
    <p>
    <%= c.label :host %><br/>
    <%= c.text_field :host %>
    </p>
    <p>
    <%= c.label :port %><br/>
    <%= c.text_field :port %>
    </p>
    <p>
    <%= c.label :user %><br/>
    <%= c.text_field :user %>
    </p>
    <p>
    <%= c.label :password %><br/>
    <%= c.text_field :password %>
    </p>
    <p>
    <%= c.label :use_ssl %> <%= c.check_box :use_ssl, {} %>
    </p>
  <% end %>
  <%= submit_tag 'Create Channel' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>