<h4>Edit channel <%= @channel.name %></h4>

<% form_for :channel, :url => { :controller => 'channel', :action => :update_channel } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :protocol %><br/>
  <%= f.text_field :protocol %>
  </p>
  <p>
  Direction:</br>
  <select id="channel_direction" name="channel[direction]">
    <option value="<%= Channel::Incoming %>" <%= @channel.direction == Channel::Incoming ? 'selected="selected"' : "" %>>Incoming</option>
    <option value="<%= Channel::Outgoing %>" <%= @channel.direction == Channel::Outgoing ? 'selected="selected"' : "" %>>Outgoing</option>
    <option value="<%= Channel::Both %>" <%= @channel.direction == Channel::Both ? 'selected="selected"' : "" %>>Bi-directional</option>
  </select>
  </p>
  <% f.fields_for :configuration do |c| %>
    <p>
    <b>Leave blank if you don't want to change the password</b><br/>
    <%= c.label :password %><br/>
    <%= c.password_field :password %>
    </p>
    <p>
    <%= c.label :password_confirmation %><br/>
    <%= c.password_field :password_confirmation %>
    </p>
  <% end %>
  <%= submit_tag 'Update channel' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>