<h4>Edit channel <%= @channel.name %></h4>

<% form_for :channel, :url => { :controller => 'channel', :action => :update_channel } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :protocol %><br/>
  <%= f.text_field :protocol %>
  </p>
  <p>
  Direction:</br>
  <select id="channel_direction" name="channel[direction]" onchange="clickatell_channel_direction_changed()">
    <option value="<%= Channel::Incoming %>" <%= @channel.direction == Channel::Incoming ? 'selected="selected"' : "" %>>Incoming</option>
    <option value="<%= Channel::Outgoing %>" <%= @channel.direction == Channel::Outgoing ? 'selected="selected"' : "" %>>Outgoing</option>
    <option value="<%= Channel::Both %>" <%= @channel.direction == Channel::Both ? 'selected="selected"' : "" %>>Bi-directional</option>
  </select>
  </p>
  <% f.fields_for :configuration do |c| %>
    <p id="user_container">
    <%= c.label :user %><br/>
    <%= c.text_field :user, :value => @channel[:configuration][:user] %>
    </p>
    <p id="password_container">
    <%= c.label :password %><br/>
    <%= c.password_field :password, :value => @channel[:configuration][:password] %>
    </p>
    <p>
    <%= c.label :api_id %><br/>
    <%= c.text_field :api_id, :value => @channel[:configuration][:api_id] %>
    </p>
    <p id="from_container">
    <%= c.label :from %><br/>
    <%= c.text_field :from, :value => @channel[:configuration][:from]%>
    </p>
    <p id="concat_container">
    <%= c.label :concat %><br/>
    <%= c.text_field :concat, :value => @channel[:configuration][:concat]%>
    </p>
    <p id="incoming_password_container">
    <%= c.label :incoming_password %><br/>
    <%= c.password_field :incoming_password, :value => @channel[:configuration][:incoming_password] %>
    </p>
    <p id="callback_urls">
    Callback urls for incoming messages (use <a href="http://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">Basic Http Authentication</a> with channel name and incoming password):<br/>
    <code>/clickatell/<%= @application.name %>/incoming</code><br/>
    <code>/clickatell/<%= @application.id %>/incoming</code>
    </p>
  <% end %>
  <%= submit_tag 'Update channel' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>

<script>
clickatell_channel_direction_changed();
</script>
