<h4>Create new Clickatell channel</h4>

<% form_for :channel, :url => { :controller => 'channel', :action => :create_channel, :kind => params[:kind] } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :direction, :value => Channel::Both %>
  <p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :protocol %><br/>
  <%= f.text_field :protocol, :value => 'sms', :readonly => 'readonly' %>
  </p>
  <p>
  Direction:</br>
  <select id="channel_direction" name="channel[direction]" onchange="clickatell_channel_direction_changed()">
    <option value="<%= Channel::Incoming %>">Incoming</option>
    <option value="<%= Channel::Outgoing %>">Outgoing</option>
    <option value="<%= Channel::Both %>">Bi-directional</option>
  </select>
  </p>
  <% f.fields_for :configuration do |c| %>
    <p id="user_container">
    <%= c.label :user %><br/>
    <%= c.text_field :user, :autocomplete => :off %>
    </p>
    <p id="password_container">
    <%= c.label :password %><br/>
    <%= c.password_field :password, :autocomplete => :off %>
    </p>
    <p>
    <%= c.label :api_ID %><br/>
    <%= c.text_field :api_id %>
    </p>
    <p id="from_container">
    <%= c.label :from %><br/>
    <%= c.text_field :from %>
    </p>
	<p id="concat_container">
	<%= c.label :concatenation %><br/>
	<%= c.text_field :concat, :value => 3 %>
	</p>
    <p id="incoming_password_container">
    <%= c.label :incoming_password %><br/>
    <%= c.password_field :incoming_password %>
    </p>
    <p>
    Callback url (use <a href="http://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">Basic Http Authentication</a> with channel name and incoming password):<br/>
    <code>/clickatell/<%= @application.name %>/incoming</code><br/>
	<code>/clickatell/<%= @application.id %>/incoming</code>
    </p>
  <% end %>
  <%= submit_tag 'Create Channel' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>

<script>
clickatell_channel_direction_changed();
</script>