<h4>Create new SMPP channel</h4>

<% form_for :channel, :url => { :controller => 'channel', :action => :create_channel, :kind => params[:kind] } do |f| %>
	<%= f.error_messages %>
	<%= f.hidden_field :direction, :value => Channel::Both %>
	<p>
	<%= f.label :name %><br/>
	<%= f.text_field :name %>
	</p>
	<p>
	<%= f.label :protocol %><br/>
	<%= f.text_field :protocol, :value => 'sms' %>
	</p>
	<%= render :partial => 'throttle', :locals => {:f => f} %>
	<% f.fields_for :configuration do |c| %>
		<p>
		<%= c.label :host %><br/>
		<%= c.text_field :host %>
		</p>
		<p>
		<%= c.label :port %><br/>
		<%= c.text_field :port %>
		</p>
		<p>
		<%= c.label :system_type %><br/>
		<%= c.text_field :system_type, :value => 'vma' %>
		</p>
		<p>
		<%= c.label :source_ton %><br/>
		<%= c.text_field :source_ton %>
		</p>
	  <p>
		<%= c.label :source_npi %><br/>
		<%= c.text_field :source_npi %>
		</p>
		<p>
		<%= c.label :destination_ton %><br/>
		<%= c.text_field :destination_ton %>
		</p>
	  <p>
		<%= c.label :destination_npi %><br/>
		<%= c.text_field :destination_npi %>
		</p>
	  <p>
		<%= c.label :user %><br/>
		<%= c.text_field :user %>
		</p>
		<p>
		<%= c.label :password %><br/>
		<%= c.password_field :password %>
		</p>
		<h5>Encoding</h5>
		<p>
		<%= c.check_box :endianness, {}, :little, :big %> <%= c.label 'Use little endian for ucs-2' %>
		</p>
		<p>
		<%= c.check_box :accept_mo_hex_string %> <%= c.label 'Hex strings' %>
		</p>
		<% encodings = [['ASCII', 'ascii'], ['Latin1', 'latin1'], ['UCS-2', 'ucs-2']] %>
		<p>
		<%= c.label 'Default MO encoding:' %><br/>
		<%= c.select :default_mo_encoding, encodings %>
		</p>
		<p>
		<%= c.label 'MT encodings:' %><br/>
		<% encodings.each do |encoding| %>
		  <input id="channel_configuration_mt_encodings" name="channel[configuration][mt_encodings][]" type="checkbox" value="<%= encoding[1] %>" /> <%= encoding[0] %><br/>
		<% end %>
		</p>
	<% end %>
	<%= submit_tag 'Create Channel' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>
