<h4>Create new Twitter channel</h4>

<% if TwitterConsumerConfig.nil? %>
  <%= render :partial => 'twitter_configuration_missing' %>
<% else %>

<% form_for :channel, :url => { :controller => 'twitter', :action => :create_twitter_channel } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :direction, :value => Channel::Both %>
  <p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :protocol %><br/>
  <%= f.text_field :protocol, :value => @channel.protocol || 'twitter' %>
  </p>
  <% f.fields_for :configuration do |c| %>
    <p>
    Welcome message for new followers (leave blank if not desired)<br/>
    <%= c.text_field :welcome_message, :value => @channel.configuration[:welcome_message] %>
    </p>
  <% end %>
  <p>
  After clicking "Create Channel" you'll be prompted to login with a Twitter account
  to authorize access to nuntium.
  </p>
  <%= submit_tag 'Create Channel' %>
<% end %>

<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>
