<h4>Create new QST server channel</h4>

<% form_for :channel, :url => { :controller => 'channel', :action => :create_channel, :kind => params[:kind] } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :protocol %><br/>
  <%= f.text_field :protocol %>
  </p>
  <p>
  Direction:</br>
  <select id="channel_direction" name="channel[direction]">
    <option value="<%= Channel::Incoming %>" <%= @channel.direction == Channel::Incoming ? 'selected="selected"' : "" %>>Incoming</option>
    <option value="<%= Channel::Outgoing %>" <%= @channel.direction == Channel::Outgoing ? 'selected="selected"' : "" %>>Outgoing</option>
    <option value="<%= Channel::Both %>" <%= @channel.direction == Channel::Both ? 'selected="selected"' : "" %>>Bi-directional</option>
  </select>
  </p>
  <% f.fields_for :configuration do |c| %>
    <p>
    <%= c.label :password %><br/>
    <%= c.password_field :password, :value => @channel[:configuration][:password] %>
    </p>
    <p>
    <%= c.label :password_confirmation %><br/>
    <%= c.password_field :password_confirmation, :value => @channel[:configuration][:password_confirmation] %>
    </p>
  <% end %>
  <%= submit_tag 'Create Channel' %>
<% end %>

<%= link_to 'Go back', :controller => :home, :action => :home %>
