<h3><%= @custom_attribute.new_record? ? 'New' : 'Edit' %> custom attribute</h3>

<%= form_for(@custom_attribute) do |f| -%>
  <%= f.error_messages %>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= render :partial => 'shared/edit_custom_attributes', :locals => {:f => f, :entity => @custom_attribute, :accept_when_not_specified_option => false } %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<%- end -%>

<%= link_to 'Back', custom_attributes_path %>
