<form id="logs_form" action="#logs">

Search: <input type="text" name="search" value="<%= @search.try(:html_safe) -%>" size= "50" class="<%= @search.present? ? 'highlighted' : '' -%>"/> <a href="http://code.google.com/p/nuntium/wiki/AdvancedSearch" target="_blank" title="You can filter by field like 'severity:warning', 'before:&quot;20 minutes ago&quot;' etc.">?</a> &nbsp; &nbsp;

<%= will_paginate @logs, :param_name => 'page', :params => { :previous_search => @search } -%>

<%= render partial: 'table', locals: { logs: @logs, hidden_columns: [] } %>

<%= will_paginate @logs, :param_name => 'page', :params => { :previous_search => @search } -%>
</form>
