<html>
<head>
<title>nuntium<%= ' - ' + account.name if account && account.id -%></title>
<%= stylesheet_link_merged :default %>
<%= javascript_include_merged :default %>
<%= yield :head%>
</head>
<body>
<div id="container">
<%- if @hide_title.nil? -%>
  <div id="header">
    <a href="/" id="title">Nuntium</a>
    <%- if !flash[:notice].nil? -%>
      <span class="notice"><%= flash[:notice].html_safe -%></span>
    <%- end -%>
    <%- if account && account.id -%>
      <span id="toolbar"><%= account.name -%>
        <% if logged_in_application %>
          / <%= logged_in_application.name %>
        <% end %>
        |
        <%- if account && account.id && account.alert_emails.blank? && !logged_in_application-%>
          <a href="/settings" style="color:red">configure email alerts</a> |
        <%- end -%>
        <a href="http://tech.groups.yahoo.com/group/nuntiumusers/" target="_blank">Have a question?</a> |
        <a href="http://code.google.com/p/nuntium/" target="_blank">Help</a> |
        <%= link_to 'Logoff', session_path, :method => :delete -%></span>
      </div>
      <%= render 'shared/tabs' -%>
    <%- else -%>
      </div>
    <%- end -%>
<%- end -%>
<div id="main">
<%= yield -%>
</div>
<div id="version_separator"></div>
<div id="version">Version: <%= nuntium_version -%></div>
</div>
</body>
</html>
